body{
    background-color: aliceblue;
}
header{
    margin-top: 2%;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
}
footer{
    font-family: "Anton", sans-serif;
    margin-top: 2%;
    text-align: center;
}
#p1{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    font-size: large;
    margin-top: 1%;
    width: 800px;
    font-family: 'Anton', sans-serif;
    margin-left: 360px;
    margin-bottom: 3%;
}
h2{
    margin-top: 3%;
    margin-left: 25%;
    font-family: "Anton", sans-serif;
    font-size: x-large;
}
#p2{
    border: solid black 3px;
    background-color: white;
    font-family: "Anton", sans-serif;
    font-size: medium;
    padding: 3%;
    width: 100px;
    margin-left: 150px;
}
h3{
    margin-top: 3%;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: x-large;
}
button{
    margin-top: 5%;
    margin-left: 48%;
}